* {
    margin: 0;
    padding: 0;
}

i {
    font-size: 12px;
}

td {
    cursor: pointer;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

button.action-button {
    margin-top: 7px;
    margin-left: 7px;
}

button.btn.btn-primary {
	padding: 2px 10px;
}

.modal-footer {
    padding: 9px;
}

.input-group .form-control {
    width: 0px;
}

.search-container {
    max-width: 50%;
    width: 40px;
    top: 0;
    left: 0;
    position: absolute;
    margin-left: 41px;
    margin-top: 7px;
}

.search {
    width: 0px;
    padding: 0px;
    transition: width ease-in 250ms, padding ease-in 250ms;
}

.search.slideRight {
    padding: 6px 12px;
    width: 150px
 }

 .pagination {
    float: right !important;
    margin: 0px 0px;
    margin-top: 2px !important;
    font-size: 12px;
}

.input-group .form-control {
    height: 26px;
}

.paginate_button {
    padding: 5px 7px !important;
}

.btn {
    padding: 2px 7px;
}

.navbar {
    min-height: 40px;
}